<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Birgits receptsamling</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
  <header>
  <h1>Birgits receptsamling</h1>
  <a href="/login" class="login-btn">Logga in</a>
  </header>
  <hr>
  <nav>
    <ul>

      <a href="/user_recipes" class="menu-btn my-btn">Dina recept</a>
      <a href="/recipes" class=" menu-btn birgit-btn">Birgits samling</a>
    </ul>
  </nav>
  <hr>
      <%= yield %>
</body>
</html>

